

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto",sans-serif;
  font-weight: bolder
}

body {
  background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.5));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  max-width: 1400px;
}

header {
  width: auto;
  overflow: auto;
  margin-top: 2%;
}

.logo {
  float: left;
}

.logo h2 {
  color: #fff;
  margin-left: 20px;
}

#nav {
  float: right;
}



.item {
  display: inline-block;
  list-style: none;
  padding: 6px 18px;
}


.item a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}


.item:hover{
  color:red;
  border: 0.2px solid #fff;
  background: #fff !important;
}
#airQ~body{
  color: red;
}